doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/title/title.pug
    include ../components/about/about.pug
    include ../components/skills/skills.pug
    include ../components/level/level.pug
    include ../components/descr/descr.pug
    include ../components/plans/plans.pug
    include ../components/date/date.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        main.page__wrapper

            //- Include your components here
            +header()
            +title()
            +about(about)
            +skills(skills)
            +level(level)
            +descr(descr)
            +plans(plans)
            +date(date)

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
