.field{
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    &--small{
        .field__input{
            width: auto;
            max-width: 215px;
        }
    }
    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }
}

.field__label{
    flex-shrink: 0;
    font-size: 22px;
    margin-right: 15px;
    color: $brown;
    @media (max-width: $tablet) {
        width: 100%;
        margin-top: 10px;
        font-size: 18px;
    }
}

.field__input{
    position: relative;
    @include bg($line);
    width: 100%;
    height: auto;
    background-position: 0 22px;
    @media (max-width: $tablet) {
        background-position: 0 2px;
    }
    input{
        width: 100%;
        font-family: $courier;
        font-size: 30px;
        font-weight: 400;
        background-color: transparent;
        border: none;
        height: 53px;
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        color: $inputText;
        border-bottom: 1px solid transparent;
        &:focus{
            border-bottom: 1px solid $brown;
        }
        @media (max-width: $tablet) {
            padding-left: 0;
            padding-right: 0;
            font-size: 20px;
            height: 32px;
        }
    }
}
