mixin level(data)
    section.level
        .level__container.container
            h2.level__title.title=data.title
            .level__slider
            input.level__input(type="hidden" value=value)
