.skills{
    margin-bottom: 50px;
    @media (max-width: $tablet) {
        margin-bottom: 25px;
    }
}

.skills__title{
    margin-bottom: 5px;
}

.skills__text{
    margin-bottom: 20px;
}

.skills__list{
    columns: 3;
    @media (max-width: $tablet) {
        columns: 2;
    }
    @media (max-width: 510px) {
        columns: 1;
    }
}
